svg {
	background: #999;
}

#slider {
	left: 100px;
	width: 200px;
	z-index: 1;
	-moz-box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.4);
}

#slider .ui-slider-handle {
	background: #cb842e;
	border-color: #784e1b;
}
